/* Primitive Tokens - Mode 1 */
:root {
  --unit-2: 2px;
  --unit-4: 4px;
  --unit-8: 8px;
  --unit-12: 12px;
  --unit-14: 14px;
  --unit-16: 16px;
  --unit-20: 20px;
  --unit-24: 24px;
  --unit-32: 32px;
  --unit-40: 40px;
  --unit-48: 48px;
  --unit-56: 56px;
  --unit-64: 64px;
  --unit-80: 80px;
  --unit-96: 96px;
  --unit-120: 120px;
  --neutral-solid-1000: rgba(16, 16, 16, 1);
  --neutral-solid-950: rgba(26, 26, 26, 1);
  --neutral-solid-900: rgba(36, 36, 36, 1);
  --neutral-solid-850: rgba(50, 50, 50, 1);
  --neutral-solid-800: rgba(67, 67, 67, 1);
  --neutral-solid-700: rgba(87, 87, 87, 1);
  --neutral-solid-600: rgba(112, 112, 112, 1);
  --neutral-solid-500: rgba(136, 136, 136, 1);
  --neutral-solid-400: rgba(161, 161, 161, 1);
  --neutral-solid-300: rgba(188, 188, 188, 1);
  --neutral-solid-200: rgba(207, 207, 207, 1);
  --neutral-solid-150: rgba(228, 228, 228, 1);
  --neutral-solid-100: rgba(239, 239, 239, 1);
  --neutral-solid-50: rgba(249, 249, 249, 1);
  --neutral-opacity-950: rgba(17, 17, 17, 1);
  --neutral-opacity-700: rgba(26, 26, 26, 0.7599999904632568);
  --neutral-opacity-600: rgba(26, 26, 26, 0.6200000047683716);
  --neutral-opacity-500: rgba(26, 26, 26, 0.5);
  --neutral-opacity-400: rgba(26, 26, 26, 0.36000001430511475);
  --neutral-opacity-200: rgba(26, 26, 26, 0.25);
  --neutral-opacity-100: rgba(26, 26, 26, 0.10000000149011612);
  --neutral-opacity-inverse-950: rgba(255, 255, 255, 1);
  --brand-primary-1000: rgba(48, 0, 78, 1);
  --brand-secondary-1000: rgba(0, 2, 26, 1);
  --brand-secondary-950: rgba(0, 2, 36, 1);
  --brand-secondary-900: rgba(3, 6, 48, 1);
  --brand-secondary-850: rgba(4, 8, 67, 1);
  --brand-secondary-800: rgba(5, 11, 89, 1);
  --brand-secondary-700: rgba(6, 13, 115, 1);
  --brand-secondary-600: rgba(8, 18, 153, 1);
  --brand-secondary-500: rgba(10, 22, 191, 1);
  --brand-secondary-400: rgba(12, 26, 229, 1);
  --brand-secondary-300: rgba(13, 29, 255, 1);
  --brand-secondary-200: rgba(74, 86, 255, 1);
  --brand-secondary-150: rgba(122, 131, 255, 1);
  --brand-secondary-100: rgba(170, 176, 255, 1);
  --brand-secondary-50: rgba(219, 221, 255, 1);
  --brand-primary-950: rgba(62, 0, 100, 1);
  --brand-primary-900: rgba(76, 0, 123, 1);
  --brand-primary-850: rgba(90, 0, 146, 1);
  --brand-primary-800: rgba(106, 7, 168, 1);
  --brand-primary-700: rgba(124, 20, 189, 1);
  --brand-primary-600: rgba(141, 37, 206, 1);
  --brand-primary-500: rgba(159, 60, 221, 1);
  --brand-primary-400: rgba(178, 88, 234, 1);
  --brand-primary-300: rgba(197, 123, 243, 1);
  --brand-primary-200: rgba(216, 161, 250, 1);
  --brand-primary-150: rgba(225, 181, 252, 1);
  --brand-primary-100: rgba(234, 202, 254, 1);
  --brand-primary-50: rgba(220, 174, 248, 1);
  --brand-primary-background-–-inverse: var(--neutral-solid-1000);
  --neutral-opacity-inverse-700: rgba(229, 229, 229, 0.8700000047683716);
  --neutral-opacity-inverse-600: rgba(229, 229, 229, 0.75);
  --neutral-opacity-inverse-500: rgba(229, 229, 229, 0.6299999952316284);
  --neutral-opacity-inverse-400: rgba(229, 229, 229, 0.49000000953674316);
  --neutral-opacity-inverse-200: rgba(229, 229, 229, 0.33000001311302185);
  --neutral-opacity-inverse-100: rgba(229, 229, 229, 0.11999999731779099);
}