.color-strong {color: var(--fg-text-strong);}
.color-defined {color: var(--fg-text-defined);}
.color-soft {color: var(--fg-text-soft);}
.color-subtle {color: var(--fg-text-subtle);}
.color-disabled {color: var(--fg-text-disabled);}
.color-discrete {color: var(--fg-text-subtle);}

.color-strong-inverse {color: var(--fg-text-strong-inverse);}
.color-soft-inverse {color: var(--fg-text-soft-inverse);}
.color-subtle-inverse {color: var(--fg-text-subtle-inverse);}
.color-disabled-inverse {color: var(--fg-text-disabled-inverse);}
.color-discrete-inverse {color: var(--fg-text-subtle-inverse);}

/* display */
/* display are only really used for really large text, like in a hero section, but it's not the default style for the h1 tag */
.supertype-lg, 
.supertype-md,
.supertype-sm {
    font-family: var(--font-display);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    margin: 16px 0px;
    max-width: 60ch;
}
.supertype-lg { font-size: 216px; }
.supertype-md { font-size: 156px; }
.supertype-sm { font-size: 112px; }


/* headlines */  
/* headlines are default styles for the h1 tag */
.headline-lg, 
.headline-md,
.headline-sm, h1, h2 {
    font-family: var(--font-display);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    margin: 16px 0px;
    max-width: 60ch;
}
.headline-lg, h1 { font-size: 80px; }
.headline-md { font-size: 56px; }
.headline-sm, h2 { font-size: 40px; }

/* titles */
/* titles are default styles for the h2, h3, h4, h5 tags */
.title-lg, 
.title-md,
.title-sm,
.title-xs {
    font-family: var(--font-display);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    margin: 8px 0px;
    max-width: 60ch;
}
.title-lg { font-size: 24px; }
.title-md { font-size: 20px; }
.title-sm { font-size: 16px; }
.title-xs { font-size: 14px; }


/* body */
.body-xl, 
.body-lg, 
.body-md, 
.body-sm, 
.body-xs,
p {
    font-weight: var(--weight-composed);
    font-family: var(--font-text);
    line-height: 130%;
    letter-spacing: 0px;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    margin: 8px 0px;
    max-width: 60ch;
}

.body-xl-loud,
.body-lg-loud,
.body-md-loud,
.body-sm-loud,
.body-xs-loud,
h3 {
    font-weight: var(--weight-loud);
    font-family: var(--font-text);
    line-height: 130%;
    letter-spacing: 0px;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    max-width: 60ch;
}

.body-xl, 
.body-xl-loud,
h3  {
    font-size: var(--unit-24);}

.body-lg, 
.body-lg-loud  {
    font-size: var(--unit-20);}

.body-md, 
.body-md-loud  {
    font-size: var(--unit-16);}

.body-sm, 
.body-sm-loud,
p  {
    font-size: var(--unit-14);}

.body-xs, 
.body-xs-loud  {
    font-size: var(--unit-12);}