/* Light theme variables */
:root,
:root[data-theme="light"] {

  /* Foreground text */
  --foreground-text-strong: var(--neutral-opacity-950);
  --foreground-text-defined: var(--neutral-opacity-700);
  --foreground-text-soft: var(--neutral-opacity-600);
  --foreground-text-subtle: var(--neutral-opacity-500);
  --foreground-text-disabled: var(--neutral-opacity-400);
  --foreground-text-supertype: var(--neutral-solid-1000);
  --foreground-text-inverse-strong: var(--neutral-opacity-inverse-950);
  --foreground-text-inverse-defined: var(--neutral-opacity-inverse-700);
  --foreground-text-inverse-soft: var(--neutral-opacity-inverse-600);
  --foreground-text-inverse-subtle: var(--neutral-opacity-inverse-500);
  --foreground-text-inverse-disabled: var(--neutral-opacity-inverse-400);
  --foreground-text-inverse-supertype: var(--neutral-solid-50);
  --foreground-text-clickable-link: var(--brand-primary-700);
  --foreground-text-clickable-link-visited: var(--brand-primary-950);
  
  /* Background elevation */
  --background-elevation-base: var(--neutral-solid-50);
  --background-elevation-layer-01: var(--neutral-solid-100);
  --background-elevation-layer-02: var(--neutral-solid-50);
  --background-elevation-layer-03: var(--neutral-solid-100);
  --background-elevation-top: var(--neutral-solid-50);
  --background-elevation-scrim: rgba(0, 0, 0, 0.3799999952316284);
  --background-elevation-background-–-inverse: var(--neutral-solid-1000);
  --background-elevation-layer-01-–-inverse: var(--neutral-solid-950);
  --background-elevation-layer-02-–-inverse: var(--neutral-solid-900);
  --background-elevation-layer-03-–-inverse: var(--neutral-solid-850);
  --background-elevation-top-–-inverse: var(--neutral-solid-900);
  
  /* Background elements */
  --background-elements-1000: var(--neutral-solid-950);
  --background-elements-900: var(--neutral-solid-900);
  --background-elements-800: var(--neutral-solid-800);
  --background-elements-700: var(--neutral-solid-700);
  --background-elements-600: var(--neutral-solid-600);
  --background-elements-500: var(--neutral-solid-500);
  --background-elements-400: var(--neutral-solid-400);
  --background-elements-300: var(--neutral-solid-300);
  --background-elements-200: var(--neutral-solid-200);
  --background-elements-100: var(--neutral-solid-150);
  
  /* Background clickable */
  --background-clickable-hover: var(--neutral-opacity-100);
  --background-clickable-pressed: var(--neutral-opacity-400);
  --background-clickable-expanded: var(--neutral-opacity-100);
  --background-clickable-hover-inverse: var(--neutral-opacity-inverse-100);
  --background-clickable-pressed-inverse: var(--neutral-opacity-inverse-400);
  --background-clickable-expanded-inverse: var(--neutral-opacity-inverse-100);
  --background-clickable-primary-primary: var(--neutral-solid-1000);
  --background-clickable-primary-primary-hover: var(--neutral-solid-900);
  --background-clickable-primary-pressed: var(--neutral-solid-950);
  --background-clickable-primary-focus: var(--neutral-solid-1000);
  --background-clickable-primary-disabled: var(--neutral-solid-300);
  --background-clickable-primary-resting: var(--neutral-solid-150);
  --background-clickable-primary-inverse-primary: var(--neutral-solid-300);
  --background-clickable-primary-inverse-primary-hover: var(--neutral-solid-200);
  --background-clickable-primary-inverse-pressed: var(--neutral-solid-400);
  --background-clickable-primary-inverse-focus: var(--neutral-solid-100);
  --background-clickable-primary-inverse-disabled: var(--neutral-solid-150);
  --background-clickable-primary-inverse-resting: var(--neutral-solid-150);
  --background-clickable-danger-danger: var(--traton-extended-red-300);
  --background-clickable-danger-danger-hover: var(--traton-extended-red-400);
  --background-clickable-danger-pressed: var(--traton-extended-red-600);
  --background-clickable-danger-focus: var(--traton-extended-red-400);
  --background-clickable-danger-disabled: var(--traton-extended-red-50);
  --background-clickable-danger-resting: var(--traton-extended-red-100);
  
  /* Foreground border */
  --foreground-border-strong: var(--neutral-opacity-950);
  --foreground-border-defined: var(--neutral-opacity-700);
  --foreground-border-soft: var(--neutral-opacity-600);
  --foreground-border-subtle: var(--neutral-opacity-500);
  --foreground-border-disabled: var(--neutral-opacity-400);
  --foreground-border-discrete: var(--neutral-opacity-100);
  --foreground-border-inverse-strong: var(--neutral-opacity-inverse-950);
  --foreground-border-inverse-defined: var(--neutral-opacity-inverse-700);
  --foreground-border-inverse-soft: var(--neutral-opacity-inverse-600);
  --foreground-border-inverse-subtle: var(--neutral-opacity-inverse-500);
  --foreground-border-inverse-disabled: var(--neutral-opacity-inverse-400);
  --foreground-border-inverse-discrete: var(--neutral-opacity-inverse-200);
  --foreground-border-clickable-link: var(--brand-secondary-300);
  --foreground-border-clickable-focus: var(--neutral-solid-950);
  --foreground-border-clickable-focus-width: 2px;
  
  /* Foreground elements */
  --foreground-text-clickable-link-brand: var(--brand-primary-950);
  --foreground-elements-transparparent-strong: var(--neutral-opacity-950);
  --foreground-elements-transparparent-defined: var(--neutral-opacity-700);
  --foreground-elements-transparparent-soft: var(--neutral-opacity-600);
  --foreground-elements-transparparent-subtle: var(--neutral-opacity-500);
  --foreground-elements-transparparent-disabled: var(--neutral-opacity-400);
  --foreground-elements-transparparent-discrete: var(--neutral-opacity-100);
  --foreground-elements-transparparent-strong-–-inverse: var(--neutral-opacity-inverse-950);
  --foreground-elements-transparparent-defined-–-inverse: var(--neutral-opacity-inverse-700);
  --foreground-elements-transparparent-soft-–-inverse: var(--neutral-opacity-inverse-600);
  --foreground-elements-transparparent-subtle-–-inverse: var(--neutral-opacity-inverse-500);
  --foreground-elements-transparparent-disabled-–-inverse: var(--neutral-opacity-inverse-400);
  --foreground-elements-transparparent-discrete-–-inverse: var(--neutral-opacity-inverse-200);
  --foreground-text-clickable-link-brand-inverse: var(--brand-primary-700);
  
  /* System colors */
  --system-info-strong: var(--brand-primary-800);
  --system-info-default: var(--brand-primary-500);
  --system-info-subtle: var(--brand-primary-150);
  --system-success-strong: rgba(21, 50, 23, 1);
  --system-success-default: rgba(59, 166, 63, 1);
  --system-success-discrete: rgba(209, 250, 209, 1);
  --system-warning-strong: rgba(89, 51, 5, 1);
  --system-warning-default: rgba(255, 146, 13, 1);
  --system-warning-subtle: rgba(255, 217, 170, 1);
  --system-danger-strong: rgba(65, 22, 22, 1);
  --system-danger-default: rgba(216, 59, 58, 1);
  --system-danger-subtle: rgba(255, 224, 224, 1);
  
  /* Permanent colors */
  --permanent-white: rgba(255, 255, 255, 1);
  --permanent-black: rgba(0, 0, 0, 1);
  
  /* Units */
  --units-radius-for-surface-clickable: 8px;
  --units-radius-for-surface-field: 2px;
  --units-radius-narrow: var(--unit-4);
  --units-radius-soft: var(--unit-8);
  --units-radius-rounded: var(--unit-32);
  --units-radius-circle: 500px;
  --units-radius-for-area-large-area: 8px;
  --units-radius-for-area-small: 4px;
  --units-space-tiny: var(--unit-8);
  --units-space-small: var(--unit-16);
  --units-space-medium: var(--unit-24);
  --units-space-large: var(--unit-48);
  --units-space-huge: var(--unit-80);
  
  /* Permanent brand colors */
  --permanent-brand-primary-900: var(--brand-primary-900);
  --permanent-brand-primary-800: var(--brand-primary-800);
  --permanent-brand-primary-700: var(--brand-primary-700);
  --permanent-brand-primary-600: var(--brand-primary-600);
  --permanent-brand-primary-500: var(--brand-primary-500);
  --permanent-brand-primary-400: var(--brand-primary-400);
  --permanent-brand-primary-300: var(--brand-primary-300);
  --permanent-brand-primary-200: var(--brand-primary-200);
  --permanent-brand-primary-100: var(--brand-primary-100);
  --permanent-brand-primary-50: var(--brand-primary-50);
  
  /* Foreground elements */
  --foreground-elements-solid-1000: var(--neutral-solid-950);
  --foreground-elements-solid-900: var(--neutral-solid-900);
  --foreground-elements-solid-800: var(--neutral-solid-800);
  --foreground-elements-solid-700: var(--neutral-solid-700);
  --foreground-elements-solid-600: var(--neutral-solid-600);
  --foreground-elements-solid-500: var(--neutral-solid-500);
  --foreground-elements-solid-400: var(--neutral-solid-400);
  --foreground-elements-solid-300: var(--neutral-solid-300);
  --foreground-elements-solid-200: var(--neutral-solid-200);
  --foreground-elements-solid-100: var(--neutral-solid-150);
  
  /* Permanent brand secondary colors */
  --permanent-brand-secondary-900: var(--brand-secondary-900);
  --permanent-brand-secondary-800: var(--brand-secondary-800);
  --permanent-brand-secondary-700: var(--brand-secondary-700);
  --permanent-brand-secondary-600: var(--brand-secondary-600);
  --permanent-brand-secondary-500: var(--brand-secondary-500);
  --permanent-brand-secondary-400: var(--brand-secondary-400);
  --permanent-brand-secondary-300: var(--brand-secondary-300);
  --permanent-brand-secondary-200: var(--brand-secondary-200);
  --permanent-brand-secondary-100: var(--brand-secondary-100);
  --permanent-brand-secondary-50: var(--brand-secondary-50);
}