/* Dark theme variables */
:root[data-theme="dark"] {
  
  /* font-family  */
  --font-display: 'KH Interference', sans-serif;
  --font-text: 'KH Teka', sans-serif;
  
  /* font-weight */
  --weight-loud: Regular;
  --weight-composed: Medium;

  
  /* background elevation */
  --bg-elevation-base: var(--neutral-solid-1000);
  --bg-elevation-layer-01: var(--neutral-solid-950);
  --bg-elevation-layer-02: var(--neutral-solid-900);
  --bg-elevation-layer-03: var(--neutral-solid-850);
  --bg-elevation-top: var(--neutral-solid-900);
  --bg-elevation-scrim: rgba(0, 0, 0, 0.5);
  --bg-elevation-background–inverse: var(--neutral-solid-50);
  --bg-elevation-layer-01-–inverse: var(--neutral-solid-100);
  --bg-elevation-layer-02–inverse: var(--neutral-solid-50);
  --bg-elevation-layer-03–inverse: var(--neutral-solid-100);
  --bg-elevation-top-–-inverse: var(--neutral-solid-50);
  
  /* background elements */
  --bg-elements-1000: var(--neutral-solid-150);
  --bg-elements-900: var(--neutral-solid-200);
  --bg-elements-800: var(--neutral-solid-300);
  --bg-elements-700: var(--neutral-solid-400);
  --bg-elements-600: var(--neutral-solid-500);
  --bg-elements-500: var(--neutral-solid-600);
  --bg-elements-400: var(--neutral-solid-700);
  --bg-elements-300: var(--neutral-solid-800);
  --bg-elements-200: var(--neutral-solid-850);
  --bg-elements-100: var(--neutral-solid-900);
  
  /* clickable elements */
  --bg-clickable-hover: var(--neutral-opacity-inverse-100);
  --bg-clickable-pressed: var(--neutral-opacity-inverse-400);
  --bg-clickable-expanded: var(--neutral-opacity-inverse-100);
  --bg-clickable-hover-inverse: var(--neutral-opacity-100);
  --bg-clickable-pressed-inverse: var(--neutral-opacity-400);
  --bg-clickable-expanded-inverse: var(--neutral-opacity-100);
  --bg-clickable-primary-default: var(--neutral-solid-50);
  --bg-clickable-primary-hover: var(--neutral-solid-200);
  --bg-clickable-primary-pressed: var(--neutral-solid-400);
  --bg-clickable-primary-focus: var(--neutral-solid-100);
  --bg-clickable-primary-disabled: var(--neutral-solid-900);
  --bg-clickable-primary-resting: var(--neutral-solid-900);
  --bg-clickable-primary-default-inverse: var(--neutral-solid-1000);
  --bg-clickable-primary-hover-inverse: var(--neutral-solid-900);
  --bg-clickable-primary-pressed-inverse: var(--neutral-solid-950);
  --bg-clickable-primary-focus-inverse: var(--neutral-solid-1000);
  --bg-clickable-primary-disabled-inverse: var(--neutral-solid-300);
  --bg-clickable-primary-resting-inverse: var(--neutral-solid-150);
  --bg-clickable-danger-danger: rgba(216, 59, 58, 1);
  --bg-clickable-danger-danger-hover: rgba(188, 48, 47, 1);
  --bg-clickable-danger-pressed: rgba(133, 41, 41, 1);
  --bg-clickable-danger-focus: rgba(188, 48, 47, 1);
  --bg-clickable-danger-disabled: rgba(49, 17, 17, 1);
  --bg-clickable-danger-resting: rgba(49, 17, 17, 1);
  
  /* foreground text */
  --fg-text-strong: var(--neutral-opacity-inverse-950);
  --fg-text-defined: var(--neutral-opacity-inverse-700);
  --fg-text-soft: var(--neutral-opacity-inverse-600);
  --fg-text-subtle: var(--neutral-opacity-inverse-500);
  --fg-text-disabled: var(--neutral-opacity-inverse-400);
  --fg-text-supertype: var(--neutral-solid-50);
  --fg-text-defined-inverse: var(--neutral-opacity-700);
  --fg-text-soft-inverse: var(--neutral-opacity-600);
  --fg-text-subtle-inverse: var(--neutral-opacity-500);
  --fg-text-disabled-inverse: var(--neutral-opacity-400);
  --fg-text-supertype-inverse: var(--neutral-opacity-950);
  --fg-text-strong-inverse: var(--neutral-opacity-950);
  --fg-text-clickable-link: var(--brand-primary-400);
  --fg-text-clickable-link-visited: var(--brand-primary-150);
  --fg-text-clickable-link-brand: var(--brand-primary-50);
  --fg-text-clickable-link-inverse: var(--brand-primary-500);
  
  /* foreground border */
  --fg-border-strong: var(--neutral-opacity-inverse-950);
  --fg-border-defined: var(--neutral-opacity-inverse-700);
  --fg-border-soft: var(--neutral-opacity-inverse-600);
  --fg-border-subtle: var(--neutral-opacity-inverse-500);
  --fg-border-disabled: var(--neutral-opacity-inverse-400);
  --fg-border-discrete: var(--neutral-opacity-inverse-200);
  --fg-border-clickable-link: var(--brand-secondary-300);
  --fg-border-clickable-focus: var(--neutral-solid-150);
  --fg-border-clickable-focus-width: 2px;
  --fg-border-strong-inverse: var(--neutral-opacity-950);
  --fg-border-defined-inverse: var(--neutral-opacity-700);
  --fg-border-soft-inverse: var(--neutral-opacity-600);
  --fg-border-subtle-inverse: var(--neutral-opacity-500);
  --fg-border-disabled-inverse: var(--neutral-opacity-400);
  --fg-border-discrete-inverse: var(--neutral-opacity-100);
  
  /* foreground object */
  --fg-object-transparent-strong: var(--neutral-opacity-inverse-950);
  --fg-object-transparent-defined: var(--neutral-opacity-inverse-700);
  --fg-object-transparent-soft: var(--neutral-opacity-inverse-600);
  --fg-object-transparent-subtle: var(--neutral-opacity-inverse-500);
  --fg-object-transparent-disabled: var(--neutral-opacity-inverse-400);
  --fg-object-transparent-discrete: var(--neutral-opacity-inverse-200);
  --fg-object-transparent-strong–inverse: var(--neutral-opacity-950);
  --fg-object-transparent-defined–inverse: var(--neutral-opacity-700);
  --fg-object-transparent-soft–inverse: var(--neutral-opacity-600);
  --fg-object-transparent-subtle–inverse: var(--neutral-opacity-500);
  --fg-object-transparent-disabled–inverse: var(--neutral-opacity-400);
  --fg-object-transparent-discrete–inverse: var(--neutral-opacity-100);
  
  /* system message */
  --system-message-strong: var(--brand-primary-100);
  --system-message-default: var(--brand-primary-500);
  --system-message-subtle: var(--brand-primary-850);
  --system-success-strong: rgba(209, 250, 209, 1);
  --system-success-default: rgba(59, 166, 63, 1);
  --system-success-subtle: rgba(21, 50, 23, 1);
  --system-warning-strong: rgba(255, 217, 170, 1);
  --system-warning-default: rgba(255, 146, 13, 1);
  --system-warning-subtle: rgba(89, 51, 5, 1);
  --system-danger-strong: rgba(255, 224, 224, 1);
  --system-danger-default: rgba(216, 59, 58, 1);
  --system-danger-subtle: rgba(65, 22, 22, 1);
  
  /* permanent colors */
  --permanent-white: rgba(255, 255, 255, 1);
  --permanent-black: rgba(0, 0, 0, 1);

  /* space */
  --space-tiny: var(--unit-4);
  --space-small: var(--unit-16);
  --space-medium: var(--unit-24);
  --space-large: var(--unit-48);
  --space-huge: var(--unit-80);
  
  /* brand primary */
  --permanent-brand-primary-900: var(--brand-primary-900);
  --permanent-brand-primary-800: var(--brand-primary-800);
  --permanent-brand-primary-700: var(--brand-primary-700);
  --permanent-brand-primary-600: var(--brand-primary-600);
  --permanent-brand-primary-500: var(--brand-primary-500);
  --permanent-brand-primary-400: var(--brand-primary-400);
  --permanent-brand-primary-300: var(--brand-primary-300);
  --permanent-brand-primary-200: var(--brand-primary-200);
  --permanent-brand-primary-100: var(--brand-primary-100);
  --permanent-brand-primary-50: var(--brand-primary-50);
  
  /* brand secondary */
  --permanent-brand-secondary-900: var(--brand-secondary-900);
  --permanent-brand-secondary-800: var(--brand-secondary-800);
  --permanent-brand-secondary-700: var(--brand-secondary-700);
  --permanent-brand-secondary-600: var(--brand-secondary-600);
  --permanent-brand-secondary-500: var(--brand-secondary-500);
  --permanent-brand-secondary-400: var(--brand-secondary-400);
  --permanent-brand-secondary-300: var(--brand-secondary-300);
  --permanent-brand-secondary-200: var(--brand-secondary-200);
  --permanent-brand-secondary-100: var(--brand-secondary-100);
  --permanent-brand-secondary-50: var(--brand-secondary-50);
  
  /* solid object */
  --fg-object-solid-1000: var(--neutral-solid-150);
  --fg-object-solid-900: var(--neutral-solid-200);
  --fg-object-solid-800: var(--neutral-solid-300);
  --fg-object-solid-700: var(--neutral-solid-400);
  --fg-object-solid-600: var(--neutral-solid-500);
  --fg-object-solid-500: var(--neutral-solid-600);
  --fg-object-solid-400: var(--neutral-solid-700);
  --fg-object-solid-300: var(--neutral-solid-800);
  --fg-object-solid-200: var(--neutral-solid-850);
  --fg-object-solid-100: var(--neutral-solid-900);
}