/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --ei-color-neutral-solid-1000: rgba(16, 16, 16, 1);
  --ei-color-neutral-solid-950: rgba(26, 26, 26, 1);
  --ei-color-neutral-solid-900: rgba(36, 36, 36, 1);
  --ei-color-neutral-solid-850: rgba(50, 50, 50, 1);
  --ei-color-neutral-solid-800: rgba(67, 67, 67, 1);
  --ei-color-neutral-solid-700: rgba(87, 87, 87, 1);
  --ei-color-neutral-solid-600: rgba(112, 112, 112, 1);
  --ei-color-neutral-solid-500: rgba(136, 136, 136, 1);
  --ei-color-neutral-solid-400: rgba(161, 161, 161, 1);
  --ei-color-neutral-solid-300: rgba(188, 188, 188, 1);
  --ei-color-neutral-solid-200: rgba(207, 207, 207, 1);
  --ei-color-neutral-solid-150: rgba(228, 228, 228, 1);
  --ei-color-neutral-solid-100: rgba(239, 239, 239, 1);
  --ei-color-neutral-solid-50: rgba(249, 249, 249, 1);
  --ei-color-neutral-opacity-950: rgba(17, 17, 17, 1);
  --ei-color-neutral-opacity-700: rgba(26, 26, 26, 0.76);
  --ei-color-neutral-opacity-600: rgba(26, 26, 26, 0.62);
  --ei-color-neutral-opacity-500: rgba(26, 26, 26, 0.5);
  --ei-color-neutral-opacity-400: rgba(26, 26, 26, 0.36);
  --ei-color-neutral-opacity-200: rgba(26, 26, 26, 0.25);
  --ei-color-neutral-opacity-100: rgba(26, 26, 26, 0.14);
  --ei-color-neutral-opacity-inverse-950: rgba(255, 255, 255, 1);
  --ei-color-brand-primary-1000: rgba(48, 0, 78, 1);
  --ei-color-brand-secondary-1000: rgba(0, 2, 26, 1);
  --ei-color-brand-secondary-950: rgba(0, 2, 36, 1);
  --ei-color-brand-secondary-900: rgba(3, 6, 48, 1);
  --ei-color-brand-secondary-850: rgba(4, 8, 67, 1);
  --ei-color-brand-secondary-800: rgba(5, 11, 89, 1);
  --ei-color-brand-secondary-700: rgba(6, 13, 115, 1);
  --ei-color-brand-secondary-600: rgba(8, 18, 153, 1);
  --ei-color-brand-secondary-500: rgba(10, 22, 191, 1);
  --ei-color-brand-secondary-400: rgba(12, 26, 229, 1);
  --ei-color-brand-secondary-300: rgba(13, 29, 255, 1);
  --ei-color-brand-secondary-200: rgba(74, 86, 255, 1);
  --ei-color-brand-secondary-150: rgba(122, 131, 255, 1);
  --ei-color-brand-secondary-100: rgba(170, 176, 255, 1);
  --ei-color-brand-secondary-50: rgba(219, 221, 255, 1);
  --ei-color-brand-primary-950: rgba(62, 0, 100, 1);
  --ei-color-brand-primary-900: rgba(76, 0, 123, 1);
  --ei-color-brand-primary-850: rgba(90, 0, 146, 1);
  --ei-color-brand-primary-800: rgba(106, 7, 168, 1);
  --ei-color-brand-primary-700: rgba(124, 20, 189, 1);
  --ei-color-brand-primary-600: rgba(141, 37, 206, 1);
  --ei-color-brand-primary-500: rgba(159, 60, 221, 1);
  --ei-color-brand-primary-400: rgba(178, 88, 234, 1);
  --ei-color-brand-primary-300: rgba(197, 123, 243, 1);
  --ei-color-brand-primary-200: rgba(216, 161, 250, 1);
  --ei-color-brand-primary-150: rgba(225, 181, 252, 1);
  --ei-color-brand-primary-100: rgba(234, 202, 254, 1);
  --ei-color-brand-primary-50: rgba(220, 174, 248, 1);
  --ei-color-neutral-opacity-inverse-700: rgba(229, 229, 229, 0.87);
  --ei-color-neutral-opacity-inverse-600: rgba(229, 229, 229, 0.75);
  --ei-color-neutral-opacity-inverse-500: rgba(229, 229, 229, 0.63);
  --ei-color-neutral-opacity-inverse-400: rgba(229, 229, 229, 0.49);
  --ei-color-neutral-opacity-inverse-200: rgba(229, 229, 229, 0.33);
  --ei-color-neutral-opacity-inverse-100: rgba(229, 229, 229, 0.12);
  --ei-color-bg-elevation-scrim: rgba(0, 0, 0, 0.38);
  --ei-color-bg-clickable-danger-danger: rgba(216, 59, 58, 1);
  --ei-color-bg-clickable-danger-danger-hover: rgba(188, 48, 47, 1);
  --ei-color-bg-clickable-danger-pressed: rgba(133, 41, 41, 1);
  --ei-color-bg-clickable-danger-focus: rgba(188, 48, 47, 1);
  --ei-color-bg-clickable-danger-disabled: rgba(255, 224, 224, 1);
  --ei-color-bg-clickable-danger-resting: rgba(247, 186, 186, 1);
  --ei-color-system-success-strong: rgba(21, 50, 23, 1);
  --ei-color-system-success-default: rgba(59, 166, 63, 1);
  --ei-color-system-success-subtle: rgba(209, 250, 209, 1);
  --ei-color-system-warning-strong: rgba(89, 51, 5, 1);
  --ei-color-system-warning-default: rgba(255, 146, 13, 1);
  --ei-color-system-warning-subtle: rgba(255, 217, 170, 1);
  --ei-color-system-danger-strong: rgba(65, 22, 22, 1);
  --ei-color-system-danger-default: rgba(216, 59, 58, 1);
  --ei-color-system-danger-subtle: rgba(255, 224, 224, 1);
  --ei-color-permanent-white: rgba(255, 255, 255, 1);
  --ei-color-permanent-black: rgba(0, 0, 0, 1);
  --ei-color-brand-primary-background-inverse: var(--ei-color-neutral-solid-1000);
  --ei-color-fg-text-strong: var(--ei-color-neutral-opacity-950);
  --ei-color-fg-text-defined: var(--ei-color-neutral-opacity-700);
  --ei-color-fg-text-soft: var(--ei-color-neutral-opacity-600);
  --ei-color-fg-text-subtle: var(--ei-color-neutral-opacity-500);
  --ei-color-fg-text-disabled: var(--ei-color-neutral-opacity-400);
  --ei-color-fg-text-supertype: var(--ei-color-neutral-solid-1000);
  --ei-color-fg-text-defined-inverse: var(--ei-color-neutral-opacity-inverse-700);
  --ei-color-fg-text-soft-inverse: var(--ei-color-neutral-opacity-inverse-600);
  --ei-color-fg-text-subtle-inverse: var(--ei-color-neutral-opacity-inverse-500);
  --ei-color-fg-text-disabled-inverse: var(--ei-color-neutral-opacity-inverse-400);
  --ei-color-fg-text-supertype-inverse: var(--ei-color-neutral-solid-50);
  --ei-color-fg-text-strong-inverse: var(--ei-color-neutral-opacity-inverse-950);
  --ei-color-fg-text-clickable-link: var(--ei-color-brand-primary-700);
  --ei-color-bg-elevation-base: var(--ei-color-neutral-solid-50);
  --ei-color-fg-text-clickable-link-visited: var(--ei-color-brand-primary-950);
  --ei-color-bg-elevation-layer-01: var(--ei-color-neutral-solid-100);
  --ei-color-bg-elevation-layer-02: var(--ei-color-neutral-solid-50);
  --ei-color-bg-elevation-layer-03: var(--ei-color-neutral-solid-100);
  --ei-color-bg-elevation-top: var(--ei-color-neutral-solid-50);
  --ei-color-bg-elevation-background-inverse: var(--ei-color-neutral-solid-1000);
  --ei-color-bg-elevation-layer-01-inverse: var(--ei-color-neutral-solid-950);
  --ei-color-bg-elements-1000: var(--ei-color-neutral-solid-950);
  --ei-color-bg-elements-900: var(--ei-color-neutral-solid-900);
  --ei-color-bg-elements-800: var(--ei-color-neutral-solid-800);
  --ei-color-bg-elements-700: var(--ei-color-neutral-solid-700);
  --ei-color-bg-elements-600: var(--ei-color-neutral-solid-600);
  --ei-color-bg-elements-500: var(--ei-color-neutral-solid-500);
  --ei-color-bg-elements-400: var(--ei-color-neutral-solid-400);
  --ei-color-bg-elements-300: var(--ei-color-neutral-solid-300);
  --ei-color-bg-elements-200: var(--ei-color-neutral-solid-200);
  --ei-color-bg-elements-100: var(--ei-color-neutral-solid-150);
  --ei-color-bg-clickable-hover: var(--ei-color-neutral-opacity-100);
  --ei-color-bg-clickable-pressed: var(--ei-color-neutral-opacity-400);
  --ei-color-bg-clickable-expanded: var(--ei-color-neutral-opacity-100);
  --ei-color-bg-clickable-hover-inverse: var(--ei-color-neutral-opacity-inverse-100);
  --ei-color-bg-clickable-pressed-inverse: var(--ei-color-neutral-opacity-inverse-400);
  --ei-color-bg-clickable-expanded-inverse: var(--ei-color-neutral-opacity-inverse-100);
  --ei-color-bg-clickable-primary-default: var(--ei-color-neutral-solid-1000);
  --ei-color-bg-clickable-primary-hover: var(--ei-color-neutral-solid-900);
  --ei-color-bg-clickable-primary-pressed: var(--ei-color-neutral-solid-950);
  --ei-color-bg-clickable-primary-focus: var(--ei-color-neutral-solid-1000);
  --ei-color-bg-clickable-primary-disabled: var(--ei-color-neutral-solid-300);
  --ei-color-bg-clickable-primary-resting: var(--ei-color-neutral-solid-150);
  --ei-color-bg-clickable-primary-default-inverse: var(--ei-color-neutral-solid-50);
  --ei-color-bg-clickable-primary-hover-inverse: var(--ei-color-neutral-solid-200);
  --ei-color-bg-clickable-primary-pressed-inverse: var(--ei-color-neutral-solid-400);
  --ei-color-bg-clickable-primary-focus-inverse: var(--ei-color-neutral-solid-100);
  --ei-color-bg-clickable-primary-disabled-inverse: var(--ei-color-neutral-solid-150);
  --ei-color-bg-clickable-primary-resting-inverse: var(--ei-color-neutral-solid-150);
  --ei-color-fg-border-strong: var(--ei-color-neutral-opacity-950);
  --ei-color-fg-border-defined: var(--ei-color-neutral-opacity-700);
  --ei-color-fg-border-soft: var(--ei-color-neutral-opacity-600);
  --ei-color-fg-border-subtle: var(--ei-color-neutral-opacity-500);
  --ei-color-fg-border-disabled: var(--ei-color-neutral-opacity-400);
  --ei-color-fg-border-discrete: var(--ei-color-neutral-opacity-100);
  --ei-color-fg-border-clickable-link: var(--ei-color-brand-secondary-300);
  --ei-color-fg-border-clickable-focus: var(--ei-color-neutral-solid-950);
  --ei-color-fg-border-strong-inverse: var(--ei-color-neutral-opacity-inverse-950);
  --ei-color-fg-border-defined-inverse: var(--ei-color-neutral-opacity-inverse-700);
  --ei-color-fg-border-soft-inverse: var(--ei-color-neutral-opacity-inverse-600);
  --ei-color-fg-border-subtle-inverse: var(--ei-color-neutral-opacity-inverse-500);
  --ei-color-fg-border-disabled-inverse: var(--ei-color-neutral-opacity-inverse-400);
  --ei-color-bg-elevation-layer-02-inverse: var(--ei-color-neutral-solid-900);
  --ei-color-fg-border-discrete-inverse: var(--ei-color-neutral-opacity-inverse-200);
  --ei-color-bg-elevation-layer-03-inverse: var(--ei-color-neutral-solid-850);
  --ei-color-bg-elevation-top-inverse: var(--ei-color-neutral-solid-900);
  --ei-color-fg-text-clickable-link-brand: var(--ei-color-brand-primary-950);
  --ei-color-fg-object-transparent-strong: var(--ei-color-neutral-opacity-950);
  --ei-color-fg-object-transparent-defined: var(--ei-color-neutral-opacity-700);
  --ei-color-fg-object-transparent-soft: var(--ei-color-neutral-opacity-600);
  --ei-color-fg-object-transparent-subtle: var(--ei-color-neutral-opacity-500);
  --ei-color-fg-object-transparent-disabled: var(--ei-color-neutral-opacity-400);
  --ei-color-fg-object-transparent-discrete: var(--ei-color-neutral-opacity-100);
  --ei-color-fg-object-transparent-strong-inverse: var(--ei-color-neutral-opacity-inverse-950);
  --ei-color-fg-object-transparent-defined-inverse: var(--ei-color-neutral-opacity-inverse-700);
  --ei-color-fg-object-transparent-soft-inverse: var(--ei-color-neutral-opacity-inverse-600);
  --ei-color-fg-object-transparent-subtle-inverse: var(--ei-color-neutral-opacity-inverse-500);
  --ei-color-fg-object-transparent-disabled-inverse: var(--ei-color-neutral-opacity-inverse-400);
  --ei-color-fg-object-transparent-discrete-inverse: var(--ei-color-neutral-opacity-inverse-100);
  --ei-color-fg-text-clickable-link-inverse: var(--ei-color-brand-primary-700);
  --ei-color-system-message-strong: var(--ei-color-brand-primary-800);
  --ei-color-system-message-default: var(--ei-color-brand-primary-500);
  --ei-color-system-message-subtle: var(--ei-color-brand-primary-150);
  --ei-color-permanent-brand-primary-900: var(--ei-color-brand-primary-900);
  --ei-color-permanent-brand-primary-800: var(--ei-color-brand-primary-800);
  --ei-color-permanent-brand-primary-700: var(--ei-color-brand-primary-700);
  --ei-color-permanent-brand-primary-600: var(--ei-color-brand-primary-600);
  --ei-color-permanent-brand-primary-500: var(--ei-color-brand-primary-500);
  --ei-color-permanent-brand-primary-400: var(--ei-color-brand-primary-400);
  --ei-color-permanent-brand-primary-300: var(--ei-color-brand-primary-300);
  --ei-color-permanent-brand-primary-200: var(--ei-color-brand-primary-200);
  --ei-color-permanent-brand-primary-100: var(--ei-color-brand-primary-100);
  --ei-color-permanent-brand-primary-50: var(--ei-color-brand-primary-50);
  --ei-color-fg-object-solid-1000: var(--ei-color-neutral-solid-950);
  --ei-color-fg-object-solid-900: var(--ei-color-neutral-solid-900);
  --ei-color-fg-object-solid-800: var(--ei-color-neutral-solid-800);
  --ei-color-fg-object-solid-700: var(--ei-color-neutral-solid-700);
  --ei-color-fg-object-solid-600: var(--ei-color-neutral-solid-600);
  --ei-color-fg-object-solid-500: var(--ei-color-neutral-solid-500);
  --ei-color-fg-object-solid-400: var(--ei-color-neutral-solid-400);
  --ei-color-fg-object-solid-300: var(--ei-color-neutral-solid-300);
  --ei-color-fg-object-solid-200: var(--ei-color-neutral-solid-200);
  --ei-color-fg-object-solid-100: var(--ei-color-neutral-solid-150);
  --ei-color-permanent-brand-secondary-900: var(--ei-color-brand-secondary-900);
  --ei-color-permanent-brand-secondary-800: var(--ei-color-brand-secondary-800);
  --ei-color-permanent-brand-secondary-700: var(--ei-color-brand-secondary-700);
  --ei-color-permanent-brand-secondary-600: var(--ei-color-brand-secondary-600);
  --ei-color-permanent-brand-secondary-500: var(--ei-color-brand-secondary-500);
  --ei-color-permanent-brand-secondary-400: var(--ei-color-brand-secondary-400);
  --ei-color-permanent-brand-secondary-300: var(--ei-color-brand-secondary-300);
  --ei-color-permanent-brand-secondary-200: var(--ei-color-brand-secondary-200);
  --ei-color-permanent-brand-secondary-100: var(--ei-color-brand-secondary-100);
  --ei-color-permanent-brand-secondary-50: var(--ei-color-brand-secondary-50);
}