/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --ei-string-font-family-display: "KH Interference";
  --ei-string-font-family-text: "KH Teka";
  --ei-string-font-weight-loud: "Medium";
  --ei-string-font-weight-composed: "Regular";
  --ei-string-typography-string: "Transportation Powerhouse";
}