:root {
    --light-hl-0: #008000;
    --dark-hl-0: #6A9955;
    --light-hl-1: #795E26;
    --dark-hl-1: #DCDCAA;
    --light-hl-2: #000000;
    --dark-hl-2: #D4D4D4;
    --light-hl-3: #A31515;
    --dark-hl-3: #CE9178;
    --light-code-background: #FFFFFF;
    --dark-code-background: #1E1E1E;
}

@media (prefers-color-scheme: light) { :root {
    --hl-0: var(--ei-light-hl-0);
    --hl-1: var(--ei-light-hl-1);
    --hl-2: var(--ei-light-hl-2);
    --hl-3: var(--ei-light-hl-3);
    --code-background: var(--ei-light-code-background);
} }

@media (prefers-color-scheme: dark) { :root {
    --hl-0: var(--ei-dark-hl-0);
    --hl-1: var(--ei-dark-hl-1);
    --hl-2: var(--ei-dark-hl-2);
    --hl-3: var(--ei-dark-hl-3);
    --code-background: var(--ei-dark-code-background);
} }

:root[data-theme='light'] {
    --hl-0: var(--ei-light-hl-0);
    --hl-1: var(--ei-light-hl-1);
    --hl-2: var(--ei-light-hl-2);
    --hl-3: var(--ei-light-hl-3);
    --code-background: var(--ei-light-code-background);
}

:root[data-theme='dark'] {
    --hl-0: var(--ei-dark-hl-0);
    --hl-1: var(--ei-dark-hl-1);
    --hl-2: var(--ei-dark-hl-2);
    --hl-3: var(--ei-dark-hl-3);
    --code-background: var(--ei-dark-code-background);
}

.hl-0 { color: var(--ei-hl-0); }
.hl-1 { color: var(--ei-hl-1); }
.hl-2 { color: var(--ei-hl-2); }
.hl-3 { color: var(--ei-hl-3); }
pre, code { background: var(--ei-code-background); }
